button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #c4413b;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 369px;
  border: 1px solid #c34444;
  border-width: 1px 1px;
  box-shadow: 0 -5px 0 rgba(0,0,0,0.1) inset;
  margin-bottom: 20px;
  margin-top: 10px;
}

html,body { height: 100%; margin: 0px; padding: 0px; overflow-X: hidden; font-family: 'Nunito', sans-serif;}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: none;
  font-size: 16px;
  resize: none;
  height: auto;
  margin: 0;
  outline: none;
  padding: 15px;
  width: 339px;
  background-color: #c4413b;
  border-radius: 10px;
  color: white;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

input::-webkit-input-placeholder {
	color: #ecf0f1;
}

input:-moz-placeholder {
	color: #ecf0f1;
	opacity:  1;
}

input::-moz-placeholder {
	color: #ecf0f1;
	opacity:  1;
}

input:-ms-input-placeholder {
	color: #ecf0f1;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  width: 370px;
  margin: 20px;
  border-radius: 2px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
   	outline: none;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
    outline: none;
}

#main {
	max-width: 1740px;
	margin-left: auto;
	margin-right: auto;
}

#overview {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.center2{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alert {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #ecf0f1;
	color: rgb(197, 67, 64);
	display: inline-block;
	line-height: 36px;
	font-size: 27px;
	margin-right: 2px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.notEnContainer {
	background-color: rgb(197, 67, 64);
	color: #ecf0f1;
	border-radius: 20px;
	padding: 10px;
	max-width: 350px;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
}

.notEnInner {
	display: inline-block;
	width: auto;
	float: right;
	text-align: center;
	margin-top: -10px;
	padding-right: 10px;
}

.spacer {
	margin: 10px;
	width: 100%;
}

.innerContentMain {
	width: inherit;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #ecf0f1;
	width: 450px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	color: #c4413b;
}

.area {
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #ecf0f1;
	width: 450px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	color: #c4413b;
}

.innerContentMain {
	overflow-Y: scroll;
	max-height: 354px;
	padding-top: 10px;
}

.notInnerConentMain {
	overflow-Y: auto;
}

.contentInside {
	margin-top: -10px;
}

.innerContentMain::-webkit-scrollbar-track
{
	width: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #c34444;
	border-radius: 20px;
	border: 4px solid #ecf0f1;
}

.innerContentMain::-webkit-scrollbar
{
	width: 10px;
}

.innerContentMain::-webkit-scrollbar-thumb
{
	background-color: #c34444;
	border-radius: 20px;
}

.contentInside {
	margin-top: -70px;
}

.item {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 300px;
	height: 40px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #c34444;
}

.itemHeader {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 14px;
	margin-top: 12px;
}

.itemDueDate {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 11px;
	margin-top: -33px;
}	

.itemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 10px;
	margin-top: -28px;
}

.topNav {
	background-color: rgb(197, 67, 64);
	overflow-X: hidden;
	outline: none;
	width: auto;
	color: white;
	font-weight: bold;
}

.topNav img {
	position: absolute;
	margin-top: -30px;
}

.topImage {
	width: auto;
	text-align: center;
	padding: 20px;
	background-color: #61c0c6;
	border-bottom: 5px solid #56ced6;
}

.topImage img {
	max-width: 100%;
}

.myIcon {
	color: black;
	float: right;
/*	padding-bottom: 25px; */
	padding-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#afterNav {
	margin-left: -2px;
}

#mobile {
	display: none;
}

#browser {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.topNav img {
	position: absolute;
	margin-top: -30px;
}

a:active {
	outline:none;
}

body:focus {
	outline: none;
}
nav:focus {
	outline: none;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 779px;
	height: 40px;
	outline: none;
}

nav li {
	display: inline;
	margin-left: 30px;
	outline: none;
}
nav a {
	color: white;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	outline: none;
	text-transform: uppercase;
}
nav li a {
	outline: none;
  	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
nav li a:hover {
	outline: none;
	text-align: center;
	color: #56ced6;
}
nav li a {
	outline: none;
}
nav li:last-child a {
	outline: none;
}

nav a#pull {
	display: none;
	outline: none;
}

.center {
	align: center;
}

@media screen and (max-width: 600px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav { 
  		height: auto;
  		outline: none;
		text-transform: uppercase;
  	}

  	nav:focus {
		outline: 0;
	}
  	nav ul {
  		width: 50%;
  		display: block;
  		height: auto;
  		outline: none;
  	}
  	nav li {
  		width: 100%;
  		text-align: center;
  		float: left;
  		position: relative;
  		outline: none;
  		margin: 0;
  	}
  	nav li a {
		outline: none;
		text-align: center;
	  	-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	nav li a:hover {
		outline: none;
		text-align: center;
		color: #e74c3c;
	}

  	nav a {
	  	text-align: left;
	  	width: 50%;
	  	outline: none;
	  	text-indent: 5px;
  	}
}

@media screen and (max-width: 1650px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav { 
  		height: auto;
  		outline: 0;
		text-transform: uppercase;
  	}

  	nav:focus {
		outline: none;
	}
  	nav ul {
  		width: 50%;
  		display: block;
  		height: auto;
  		outline: none;
  	}
  	nav li {
  		width: 100%;
  		text-align: center;
  		float: left;
  		position: relative;
  		outline: none;
  		margin: 0;
  	}
  	nav li a {
		outline: none;
		text-align: center;
	  	-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	nav li a:hover {
		outline: none;
		text-align: center;
		color: #e74c3c;
	}

  	nav a {
	  	text-align: left;
	  	width: 50%;
	  	outline: none;
	  	text-indent: 5px;
  	}
}

@media screen and (max-width: 750px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav { 
  		height: auto;
  		outline: 0;
		text-transform: uppercase;
  	}

  	nav:focus {
		outline: none;
	}
  	nav ul {
  		width: 50%;
  		display: block;
  		height: auto;
  		outline: none;
  	}
  	nav li {
  		width: 100%;
  		text-align: center;
  		float: left;
  		position: relative;
  		outline: none;
  		margin: 0;
  	}
  	nav li a {
		outline: none;
		text-align: center;
	  	-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	nav li a:hover {
		outline: none;
		text-align: center;
		color: #e74c3c;
	}

  	nav a {
	  	text-align: left;
	  	width: 50%;
	  	outline: none;
	  	text-indent: 5px;
  	}
}

@media only screen and (max-width : 480px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav {
		border-bottom: 0;
		outline: none;
		text-transform: uppercase;
		text-align: center;
	}

	nav:focus {
		outline: none;
	}
	nav ul {
		display: none;
		height: auto;
		outline: none;
	}
	nav a#pull {
		display: block;
		background-color: #56ced6;
		width: 100%;
		height: 40px;
		position: relative;
		outline: none;
		z-index: 1;
	}

	nav a#pull img{
		position: absolute;
		margin-top: 2px;
		margin-left: 20px;
		z-index: 10;
		pointer-events: none;
	}

	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
		outline: none;
		z-index: -1;
		pointer-events: none;
	}
}

@media only screen and (max-width : 320px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav li {
		display: block;
		float: none;
		width: 100%;
		outline: none;
		text-align: center;
		margin: 0;
	}
	nav:focus {
		outline: none;
	}
	nav li a {
		outline: none;
	  	-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		/* ...and now for the proper property */
		transition:.5s;
	}
	nav li a:hover {
		outline: none;
		text-align: center;
		color: #e74c3c;
	}
}

::-webkit-scrollbar-track
{
  background-color: #56ced6;
  width: 4px;
  text-align: center;
  vertical-align: middle;
}

::-webkit-scrollbar
{
  width: 6px;
}

::-webkit-scrollbar-thumb
{
  background-color: #c34444;
  margin-left: -20px;
  height: 10%;
}