html,body { height: 100%; margin: 0px; padding: 0px; overflow-Y: hidden; overflow-X: hidden; font-family: 'Nunito', sans-serif;}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: none;
  font-size: 16px;
  resize: none;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 270px;
  background-color: #6c7a89;
  border-radius: 10px;
  color: #ecf0f1;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

input::-webkit-input-placeholder {
	color: #ecf0f1;
}

input:-moz-placeholder {
	color: #ecf0f1;
	opacity:  1;
}

input::-moz-placeholder {
	color: #ecf0f1;
	opacity:  1;
}

input:-ms-input-placeholder {
	color: #ecf0f1;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

#main {
	position: absolute;
	margin: 0;
	padding: 0;
	max-width: auto;
	height: 100%;
}

.center {
	text-align: center;
}

.nav {
	width: 100%;
}

.navContainer {
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navItem {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	width: 300px;
	height: 40px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #6c7a89;
}

.navItem a{
	text-decoration: none;
	color: #ecf0f1;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #6c7a89;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 300px;
  border: 1px solid #2c3e50;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 #2c3e50 inset;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  cursor: hand;
}

fieldset {
  margin-bottom: 30px;
  border: 0;
}

.field {
    border: 0;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.sidebar {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	margin-top: -10;
	width: 450px;
	height: 95%;
	background-color: #ecf0f1;
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
	overflow-Y: scroll;
}

.studentName {
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	color: #6c7a89;
	max-width: 355px;
	height: 40px;
	border: 2px solid #6c7a89;
	border-radius: 20px;
	font-size: 12px;
}

.studentName h2 {
	color: #6c7a89;
	margin-top: 5px;
	text-align: center;
	width: inherit;
}

.roundSmallOne {
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	width: 150px;
	text-align: center;
	border-radius: 20px;
	float: right;
}

.roundSmallInner {
	color: #ecf0f1;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	width: auto;
	text-align: center;
	background-color: #6c7a89;
	border-radius: 20px;
}

.roundSmallTwo {
	height: 20px;
	width: 200px;
	text-align: center;
	border-radius: 20px;
	float: left;
}

#top {
	color: #ecf0f1;
	margin-top: -20px;
	margin-bottom: 40px;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.Header {
	color: #6c7a89;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.headerContent {
	color: #ecf0f1;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.notEnContainer {
	background-color: #6c7a89; 
	color: #ecf0f1;
	padding: 10px;
	border-radius: 20px;
	width: 350px;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}

.notEnInner {
	width: 310px;
	float: right;
	margin-top: -20px;
	text-align: center;
}

.alert {
	position: relative;
	background-color: #ecf0f1;
	color: #6c7a89;
	height: 25px;
	width: 25px;
	display: inline-block;
	font-size: 20px;
	margin-right: 4px;
	display: inline-block;
	line-height: 25px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}

.alertContent {
	background-color: #ecf0f1;
	color: #6c7a89;
	height: 50px;
	width: 50px;
	display: inline-block;
	font-size: 30px;
	margin-top: 20px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}

.icon {
	position: relative;
	background-color: #6c7a89;
	color: #ecf0f1;
	height: 25px;
	width: 25px;
	display: inline-block;
	font-size: 20px;
	margin-right: 4px;
	display: inline-block;
	line-height: 25px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}

.homeworkContentInside {
	margin-top: -70px;
}

.sideFooter {
	color: #6c7a89;
	position: relative;
}

.sideFooterInner {
	color: #6c7a89;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.content {
	position: absolute;
	margin-left: 450px;
	padding-left: 20px;
	width: 895px;
	height: 100%;
	overflow-Y: scroll;
	overflow-X: hidden;
}

.footerList ul {
	color: #6c7a89;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerList li {
    display: inline;
}

.sideFooterInner a{
	display: inline;
	color: #6c7a89;
	text-decoration: none;
	text-transform: uppercase;
}

.homeworkArea {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 2px solid #6c7a89;
	max-height: 210px;
	width: 400px;
	overflow-Y: auto;
}

.homeworkArea::-webkit-scrollbar-track
{
	background-color: #FFF;
}

.homeworkArea::-webkit-scrollbar
{
	width: 7px;
}

.homeworkArea::-webkit-scrollbar-thumb
{
	background-color: #6c7a89;
}

.homeworkItem {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	width: 300px;
	height: 90px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #6c7a89;
}

.navItem a{
	text-decoration: none;
	color: #ecf0f1;
}

.homeworkItemHeader {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 15px;
	margin-top: -25px;
}

.homeworkItemDueDate {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 13px;
	margin-top: -33px;
}

.homeworkItemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 10px;
	margin-top: -20px;
	line-height: 15px;
	padding-right: 2px;
}

.classNamesListItem {
	text-align: center;
	color: #6c7a89;
}

/* Test Box Stuff*/
.testArea {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 2px solid #6c7a89;
	max-height: 210px;
	width: 400px;
	overflow-Y: auto;
}

.testArea::-webkit-scrollbar-track {
	background-color: #FFF;
}

.testArea::-webkit-scrollbar {
	width: 7px;
}

.testArea::-webkit-scrollbar-thumb {
	background-color: #6c7a89;
}

.testItemContainer {

}

.testItem {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	width: 300px;
	height: 90px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #6c7a89;
}

.testContentInside {
	margin-top: -70px;
}

.testItemHeader {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 15px;
	margin-top: -25px;
}

.testItemDateOf {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 13px;
	margin-top: -33px;
}

.testItemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 10px;
	margin-top: -20px;
	line-height: 15px;
	padding-right: 2px;
}
/* End Test Box Stuff */

/* Project Box Stuff */
.projectArea {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 2px solid #6c7a89;
	max-height: 210px;
	width: 400px;
	overflow-Y: auto;
}

.projectArea::-webkit-scrollbar-track {
	background-color: #FFF;
}

.projectArea::-webkit-scrollbar {
	width: 7px;
}

.projectArea::-webkit-scrollbar-thumb {
	background-color: #6c7a89;
}

.projectItemContainer {

}

.projectItem {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	width: 300px;
	height: 90px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #6c7a89;
}

.projectContentInside {
	margin-top: -70px;
}

.projectItemHeader {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 15px;
	margin-top: -25px;
}

.projectItemDueDate {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 13px;
	margin-top: -33px;
}

.projectItemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 10px;
	margin-top: -20px;
	line-height: 15px;
	padding-right: 2px;
}
/* End Project Box Stuff*/

/* Overview Box Stuff */

.overviewArea {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 2px solid #6c7a89;
	max-height: 210px;
	width: 400px;
	overflow-Y: auto;
}

.overviewArea::-webkit-scrollbar-track {
	background-color: #FFF;
}

.overviewArea::-webkit-scrollbar {
	width: 7px;
}

.overviewArea::-webkit-scrollbar-thumb {
	background-color: #6c7a89;
}

.overviewItemContainer {

}

.itemInOverview {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	width: 300px;
	height: 90px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #6c7a89;
}

.overviewContentInside {
	margin-top: -70px;
}

.overviewItemHeader {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 15px;
	margin-top: -25px;
}

.overviewItemDate {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 13px;
	margin-top: -33px;
}

.overviewItemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 10px;
	margin-top: -20px;
	line-height: 15px;
	padding-right: 2px;
}

/* End Overview Box Stuff */

.noItemCreated {
	color: #6c7a89;
	font-size: 15px;
}

.colorRed {
	color: red;
}

.colorYellow {
	color: yellow;
}

.colorGray {
	color: #ecf0f1;
}

/* Uncolored Box Stuff */
.uncoloredContentInside {
	margin-top: -70px;
}

.uncoloredItemHeader {
	margin-left: 60px;
	font-size: 15px;
	margin-top: -25px;
}

.uncoloredItemDate {
	margin-left: 60px;
	font-size: 13px;
	margin-top: -33px;
}

.uncoloredItemDesc {
	margin-left: 60px;
	font-size: 10px;
	margin-top: -20px;
	line-height: 15px;
	padding-right: 2px;
}

/* End Uncolored Box Stuff */

/* Begin Passed Box Stuff */

.passedArea {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 2px solid #6c7a89;
	max-height: 210px;
	width: 400px;
	overflow-Y: auto;
}

.passedArea::-webkit-scrollbar-track {
	background-color: #FFF;
}

.passedArea::-webkit-scrollbar {
	width: 7px;
}

.passedArea::-webkit-scrollbar-thumb {
	background-color: #6c7a89;
}

.passedItemContainer {

}

.passedItem {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	width: 300px;
	height: 90px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #6c7a89;
}

.passedContentInside {
	margin-top: -70px;
}

.passedItemHeader {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 15px;
	margin-top: -25px;
}

.passedItemDate {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 13px;
	margin-top: -33px;
}

.passedItemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 10px;
	margin-top: -20px;
	line-height: 15px;
	padding-right: 2px;
}
/* End Passed Box Stuff */

.fa {
	color: black;
	float: right;
	padding-right: 5px;
}

.fa-trash {
	padding-right: 10px;
	padding-bottom: 25px;
}

.fa-pencil {
	padding-bottom: 25px;
}

.icon {
	color: black;'
	float: right;
	padding-bottom: 25px;
	padding-right: 5px;
}

.homeworkEditContainer {

}
