<div class="sidebar">
				<div id="top">
					<div class="roundSmallOne" id="date">
						<div class="roundSmallInner">
							<p id="dateText">
								<script>
									var today = new Date();
									var dd = today.getDate();
									var mm = today.getMonth()+1; //January is 0!
									var yyyy = today.getFullYear();

									if(dd<10) {
									    dd='0'+dd
									} 

									if(mm<10) {
									    mm='0'+mm
									} 

									today = mm+'/'+dd+'/'+yyyy;
									document.write(today);
								</script>
							</p>
						</div>
					</div>
					<div class="roundSmallTwo" id="time">
						<div class="roundSmallInner">
							<p class="animated fadeIn" id="timeText">
								<script>
									function updateTime(){
								    var currentTime = new Date()
								    var hours = currentTime.getHours()
								    var minutes = currentTime.getMinutes()
								    if (minutes < 10){
								        minutes = "0" + minutes
								    }
								    var t_str = hours + ":" + minutes + " ";
								    if(hours > 11){
								        t_str += "PM";
								    } else {
								        t_str += "AM";
								    }

								    document.getElementById('timeText').innerHTML = t_str;
								}
								setInterval(updateTime, 1000);
								</script>
							</p>
						</div>
					</div>
					<br style="clear: both;" />
				</div>
				<div class="studentName">
					<h2>Welcome to your profile @student.name</h2>
				</div>
				
				<div class="nav">
					<div class="navInner">
						<ul class="navContainer">
							<li class="navItem overviewItem"><span class="alert">O</span><a href="#" onclick="toggle_visibility('openOverview');">VERVIEW</a></li>
							<li class="navItem" id="homework"><span class="alert">H</span><a href="#" onclick="toggle_visibility('openHomework');">OMEWORK</a></li>
							<li class="navItem" id="tests"><span class="alert">T</span><a href="#" onclick="toggle_visibility('openTest');">ESTS</a></li>
							<li class="navItem" id="projects"><span class="alert">P</span><a href="#" onclick="toggle_visibility('openProject');">ROJECTS</a></li>
						</ul>
					</div>
				</div>
				<div class="sideFooter">
					<div class="sideFooterInner">
						<ul class="footerList">
							<a href="@routes.Application.logout()"><li class="foo">Log Out</li></a> |
							<a href="#"><li class="foo">Settings</li></a>
						</ul>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="overview" id="openOverview">
					<div class="overviewInner"><h2>OVERVIEW</h2></div>
				</div>
				<div style="display:none" class="homework" id="openHomework">
					<div class="homeworkContainer">
						<div class="homeworkInner">
							<div class="Header"><h2>Add Homework</h2></div>
							@form(action = routes.Application.newHomework) {
							<div class="center Header"><h2>Due Date:</h2></div>
							<div class="center"><input type="date" name="dueDate" placeholder="Due Date"></div>
							<div class="center Header"><h2>Class:</h2></div>
							<div class="center">
								<select name="schoolClassId">
								@for(schoolClass <- schoolClasses) {
									<option value=@Long.toString(schoolClass.id)> @schoolClass.subject </option>
								}
								</select>
							</div>
							<div class="center">
								<button type="submit" value="Add Homework">Add Homework</button>
							</div>
							}
						</div>
					</div>
					<div class="homeworkArea">
						<div class="homeworkItemContainer">
							<div class="homeworkItem">
								<span class="alertContent">H</span>
								<div class="homeworkContentInside">
									<h2 class="homeworkItemHeader">TEXT</h2>
									<p class="homeworkItemDesc">Placeholder Description For The Homework</p>
								</div>
							</div>
						</div>
						<div class="homeworkItemContainer">
							<div class="homeworkItem">
								<span class="alertContent">H</span>
								<div class="homeworkContentInside">
									<h2 class="homeworkItemHeader">TEXT</h2>
									<p class="homeworkItemDesc">Placeholder Description For The Homework</p>
								</div>
							</div>
						</div>
						<div class="homeworkItemContainer">
							<div class="homeworkItem">
								<span class="alertContent">H</span>
								<div class="homeworkContentInside">
									<h2 class="homeworkItemHeader">TEXT</h2>
									<p class="homeworkItemDesc">Placeholder Description For The Homework</p>
								</div>
							</div>
						</div>
						<div class="homeworkItemContainer">
							<div class="homeworkItem">
								<span class="alertContent">H</span>
								<div class="homeworkContentInside">
									<h2 class="homeworkItemHeader">TEXT</h2>
									<p class="homeworkItemDesc">Placeholder Description For The Homework</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="display:none" class="tests" id="openTest">
					<div class="testsInner"><h2>TESTS</h2></div>
				</div>
				<div style="display:none" class="project" id="openProject">
					<div class="projectInner"><h2>PROJECTS</h2></div>
				</div>
			</div>
		</div>