body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
}

.content {
	width: auto;
}

.topNav {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70px;
}

.topNavInner {
	margin: 20px;
	width: 100%;
	position: relative;
	right: 50px;
	height: 50px;
}

.topLinks {
	color: #3498db;
	float: right;
}

.topLinks a {
	line-height: 2;
	text-decoration: none;
	padding: 10px;
	color: #c34444;
}

.topText {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.topText img {
	max-width: 50%;
	margin: 0 auto;
	position: relative;
}
/* Align questions and answers in the center */
.center {
    padding-top: 50px;
    max-width: 80%;
    margin: 0 auto;
    display: block;
}
.question, .answer {
	position: relative;
	text-align: left;
	margin: 5px;
}
img {
	border: 0;
}
.moreQuestions {
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: #c34444;
}
.moreQuestions a {
    color: #56ced6;
}
footer {
    max-width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 500px) {
    .moreQuestions {
        font-size: 16px;
    }
}
