*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	color: #384047;
	margin: 0;
	padding: 0;
	background-color: white;
}

form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

label.css-label {
	background-image: url("images/radio.png");
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	margin: 0 0 30px 0;
	text-align: center;
}

.responsiveImages {
	max-width: 100%;
}
/* SIGN UP PAGE IMAGES */
.imageHolder {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imageHolder img {
	max-width: 100%;
	margin: 10px auto;
	position: relative;
	padding: 10px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 125ms ease-in-out;
	-moz-transition: 125ms ease-in-out;
	-o-transition: 125ms ease-in-out;
	-ms-transition: 125ms ease-in-out;
	transition: 125ms ease-in-out;
}
.imageHolder img:hover {
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
	-webkit-transition: 125ms ease-in-out;
	-moz-transition: 125ms ease-in-out;
	-o-transition: 125ms ease-in-out;
	-ms-transition: 125ms ease-in-out;
	transition: 125ms ease-in-out;
}
.imageHolder a {
	text-align: center;
	text-decoration: none;
	color: black;
	display: inline;
}

@media screen and (max-width: 670px) {
	.imageHolder {
	width: 100%;
	display: inline-block;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	.imageHolder img {
	max-width: 80%;
	margin: 0px auto;
	position: relative;
	padding: 5px;
}
}
@media screen and (max-width: 738px) {
	.imageHolder {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
}
/* END OF SIGN UP PAGE IMAGES */
.largeImage {
	max-width: 100%;
	position: relative;
	bottom: 80px;
	
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
	input[type="email"], input[type="number"], input[type="search"], input[type="tel"],
	input[type="time"], input[type="url"], textarea, select {
	border: none;
	font-size: 16px;
	resize: none;
	height: auto;
	margin: 0;
	outline: none;
	padding: 15px;
	width: 100%;
	background-color: #c4413b;
	border-radius: 10px;
	color: white;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0 4px 8px 0;
}

input::-webkit-input-placeholder {
	color: white;
	opacity: 0.9;
}

input:-moz-placeholder {
	color: white;
	opacity: 0.9;
}

input::-moz-placeholder {
	color: white;
	opacity: 0.9;
}

input:-ms-input-placeholder {
	color: white;
	opacity: 0.9;
}

select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #c4413b;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	font-family: 'Nunito', Arial, sans-serif, Helvetica;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #c34444;
	border-width: 1px 1px;
	box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.1) inset;
	margin-bottom: 20px;
	margin-top: 10px;
	cursor: pointer;
	transition: 200ms ease-in-out;
	-webkit-transition: 200ms ease-in-out;
	-moz-transition: 200ms ease-in-out;
	-ms-transition: 200ms ease-in-out;
}

button:hover {
	transition: 200ms ease-in-out;
	-webkit-transition: 200ms ease-in-out;
	-moz-transition: 200ms ease-in-out;
	-ms-transition: 200ms ease-in-out;
	background-color: rgb(182,61,54);
}

fieldset {
	margin-bottom: 30px;
	border: 0;
}

.field {
	border: 0;
}

legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 8px;
}

label.light {
	font-weight: 300;
	display: inline;
}

.number {
	background-color: #5fcf80;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 100%;
}

.contentList {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: #ecf0f1;
}

.noScrollMove {
	margin-left: -6px;
}

.topNav {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70px;
}

.topContent {
	width: auto;
	height: 600px;
	position: relative;
	top: 20px;
}

.topText {
  width: auto;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.topText a {
  text-decoration: none;
  color: #34495e;
}

.topContentInner {
	position: relative;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

@media screen and (max-width: 815px) {
	.topContentInner {
		position: relative;
		z-index: -1;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
	.responsiveImages {
		position: relative;
		bottom: -50px;
	}
}

.topContentInner img {
	margin-top: 100px;
	position: relative;
	pointer-events: none;
}

.footer {
	width: auto;
	height: 90px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footerInner {
	text-align: center;
}

.footerInner a {
	color: #34495e;
	text-decoration: none;
	text-transform: uppercase;
	
}


.Content {
	position: relative;
	width: auto;
	height: inherit;
	background-color: #c34444;
	z-index: 0;
	overflow: hidden;
	z-index: 8;
}

.textHeader {
	color: #ecf0f1;
	text-transform: uppercase;
}

.lastContent {
	width: auto;
	height: inherit;
	background-color: #56ced6;
	z-index: 0;
	overflow: hidden;
}

.lastContentInner {
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

.contentInner {
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

.spacer {
	width: auto;
	height: 50px;
}

.contentInner ul {
	max-width: 99%;
	padding: 20px;
}

.topNavInner {
	padding: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	text-align: center;
}

.iconNav img {
	padding: 0;
	position: absolute;
	float: left;
	border: 10px solid #ecf0f1;
	border-radius: 50px;
}

.topLinks {
	color: #3498db;
	float: right;
}

.links {
	width: auto;
	margin-top: 20px;
}

.topLinks a {
	line-height: 2;
	text-decoration: none;
	padding: 10px;
	color: #c34444;
}

@media screen and (max-width: 500px) {
	.topLinks {
		color: #3498db;
		float: right;
	}
	.links {
		width: auto;
		margin-top: 20px;
	}
	.topLinks a {
		line-height: 2;
		text-decoration: none;
		padding: 10px;
		color: #c34444;
	}
		.responsiveImages {
		position: relative;
		bottom: 20px;
	}

	.topText {
		width: auto;
		text-align: center;
		font-size: 24px;
		text-transform: uppercase;
	}
	.Content {
		position: relative;
		width: auto;
		height: inherit;
		background-color: #c34444;
		z-index: 0;
		overflow: hidden;
		z-index: 8;
		bottom: 175px;
}
	.lastContent {
		width: auto;
		height: inherit;
		background-color: #56ced6;
		z-index: 0;
		overflow: hidden;
		bottom: 175px;
		position: relative;
	}

	footer {
		position: relative;
		height: auto;
		margin-top: -175px;
	}
}

@media screen and (min-width: 480px) {
	form {
		max-width: 480px;
	}
}

html::-webkit-scrollbar-track {
	background-color: #c34444;
	width: 4px;
	text-align: center;
	vertical-align: middle;
}

html::-webkit-scrollbar {
	width: 10px;
}

html::-webkit-scrollbar-thumb {
	background-color: white;
	margin-left: -20px;
	height: 10%;
	border-radius: 20px;
	border: 3px solid #c34444;
}

@media screen and (max-width: 600px) {
	html::-webkit-scrollbar-track {
		display: none;
	}
	html::-webkit-scrollbar {
		width: 10px;
		display: none;
	}
	html::-webkit-scrollbar-thumb {
		display: none;
		background-color: rgba(0, 0, 0, 0.2);
		margin-left: -30px;
		height: 0%;
		border-radius: 0px;
		border: 5px solid rgba(0, 0, 0, 0.2);
	}
}
@media screen and (max-width: 425px) {
		.Content {
		position: relative;
		width: auto;
		height: inherit;
		background-color: #c34444;
		z-index: 0;
		overflow: hidden;
		z-index: 8;
		bottom: 220px;
}
	.lastContent {
		width: auto;
		height: inherit;
		background-color: #56ced6;
		z-index: 0;
		overflow: hidden;
		bottom: 220px;
		position: relative;
	}
	footer {
		position: relative;
		height: auto;
		margin-top: -220px;
	}
}

.contactForm {
	position: relative;
	top: 50px;
	width: 100%;
	margin: 0px auto;
	padding: 0;
}
.contactForm input {
	font-family: 'Nunito', sans-serif, Arial, Helvetica;
	margin: 3px;
}
.contactForm label {
	position: relative;
	top: 5px;
	left: 3px;
}
.contactForm .message {
	height: 150px;
	font-family: 'Nunito', sans-serif, Arial, Helvetica;
	color: white;
	margin: 3px;
	resize: vertical;
}
::-webkit-textarea-placeholder {
	color: white;
}
:-moz-textarea-placeholder {
	color: white;
}
@media only screen and (max-width: 380px) {
	.footerInner {
		font-size: 12px;
		transition: 200ms ease-in-out;
	}
}
img {
	border: 0;
}
.promptAction {
	text-align: center;
	padding: 0px;
	font-size: 20px;
	text-transform: uppercase;
}