button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #c4413b;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 369px;
  border: 1px solid #c34444;
  border-width: 1px 1px;
  box-shadow: 0 -5px 0 rgba(0,0,0,0.1) inset;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  font-family: 'Nunito', Arial, sans-serif, Helvetica;
}
button:hover {
	transition: 200ms ease-in-out;
	-webkit-transition: 200ms ease-in-out;
	-moz-transition: 200ms ease-in-out;
	-ms-transition: 200ms ease-in-out;
	background-color: rgb(182,61,54);
}

html,body { height: 100%; margin: 0px; padding: 0px; overflow-X: hidden; font-family: 'Nunito', sans-serif;}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: none;
  font-size: 16px;
  resize: none;
  height: auto;
  margin: 0;
  outline: none;
  padding: 15px;
  width: 339px;
  background-color: #c4413b;
  border-radius: 10px;
  color: white;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito', Arial, sans-serif, Helvetica;
}

input::-webkit-input-placeholder {
	color: #ecf0f1;
}

input:-moz-placeholder {
	color: #ecf0f1;
	opacity:  1;
}

input::-moz-placeholder {
	color: #ecf0f1;
	opacity:  1;
}

input:-ms-input-placeholder {
	color: #ecf0f1;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
.studentName {
	color: white;
	margin: 20px;
	font-size: 18px;

}

select {
  padding: 6px;
  height: 32px;
  width: 370px;
  margin: 20px;
  border-radius: 2px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
    display: table;
   	outline: none;
}

.topNav a {
	text-align: center;
}
.clearfix {
	width: 100%;
}
.clearfix:after {
   clear: both;
}
.clearfix {
    *zoom: 1;
    outline: none;
}
#overviewAnchor {
	color: #56ced6;
}
#main {
	max-width: 1740px;
	margin-left: auto;
	margin-right: auto;
}

.overview {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.center2{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alert {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #ecf0f1;
	color: rgb(197, 67, 64);
	display: inline-block;
	line-height: 36px;
	font-size: 27px;
	margin-right: 2px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.alertBig {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: #ecf0f1;
	/*background-color: black;*/
	color: rgb(197, 67, 64);
	display: inline-block;
	line-height: 71px;
	font-size: 55px;
	margin-right: 2px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}
.itemBig .alertBig {
	position: relative;
	right: 20px;
}

.notEnContainer {
	background-color: rgb(197, 67, 64);
	color: #ecf0f1;
	border-radius: 20px;
	padding: 10px;
	max-width: 350px;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
}

.notEnInner {
	display: inline-block;
	width: auto;
	float: right;
	text-align: center;
	margin-top: -10px;
	padding-right: 10px;
}

.spacer {
	margin: 10px;
	width: 100%;
}

.innerContentMain {
	width: inherit;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #ecf0f1;
	width: 450px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	color: #c4413b;
}

.area {
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #ecf0f1;
	width: 450px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	color: #c4413b;
}

.innerContentMain {
	overflow-Y: scroll;
	max-height: 354px;
	padding-top: 10px;
}

.notInnerConentMain {
	overflow-Y: auto;
}

.contentInside {
	margin-top: -10px;
}

.innerContentMain::-webkit-scrollbar-track
{
	width: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #c34444;
	border-radius: 20px;
	border: 4px solid #ecf0f1;
}

.innerContentMain::-webkit-scrollbar
{
	width: 10px;
}

.innerContentMain::-webkit-scrollbar-thumb
{
	background-color: #c34444;
	border-radius: 20px;
}

.contentInside {
	margin-top: -70px;
}

.item {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 300px;
	height: 40px;
	line-height: 35px;
	margin-bottom: 20px;
	background-color: #c34444;
}

.itemBig {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 50vw;
	max-height: 100%;
	min-height: 75px;
	line-height: 15px;
	margin-bottom: 20px;
	background-color: #c34444;
  	border-left: 40px solid #c34444;
}
.itemBig .itemDueDateBig {
	position: relative;
	top: 20px;
}
.itemHeader {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 14px;
	margin-top: 12px;
}

.itemHeaderBig {
 /*	color: #ecf0f1; */
	color: black;
	margin-left: 80px;
	font-size: 32px;
	margin-top: -70px;
	position: relative;
	top: 5px;
	line-height: 25px;
}
.container footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: black;
	z-index: -10;
}

.itemDueDate {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 11px;
	margin-top: -33px;
}	

.itemDueDateBig {
	/*color: #ecf0f1;*/
	color: black;
	margin-left: 80px;
	font-size: 20px;
	margin-top: -30px;
	position: relative;
	top: 20px;
}

.itemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 10px;
	margin-top: -28px;
}

.itemDescBig {
	/*color: #ecf0f1; */
	color: black;
	margin-left: 80px;
	font-size: 20px;
	position: relative;
	top: 15px;
	line-height: 20px;
}

.green {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 50%;
	max-height: 100%;
	min-height: 75px;
	line-height: 15px;
	margin-bottom: 20px;
	background-color: #2ecc71;
}

.yellow {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 50%;
	max-height: 100%;
	min-height: 75px;
	line-height: 15px;
	margin-bottom: 20px;
	background-color: #f1c40f;
}

.red {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 50%;
	max-height: 100%;
	min-height: 75px;
	line-height: 15px;
	margin-bottom: 20px; 
	background-color: #E02F2F;
}

.white {
	background-color: #ecf0f1;
}

.topNav {
	background-color: rgb(197, 67, 64);
	outline: none;
	width: 100%;
	color: white;
	font-weight: bold;
	height: auto;
}

.topNav img {
	position: absolute;
	margin-top: -30px;
}
.topNav li {
	display: inline-block;
	
}
.topNav a {
	width: 100%;
	display: inline-block;
}
.topImage {
	width: auto;
	text-align: center;
	padding: 20px;
	background-color: #61c0c6;
	border-bottom: 2px solid #56ced6;
}

.topImage img {
	max-width: 100%;
}

.myIcon {
	color: black;
	float: right;
/*	padding-bottom: 25px; */
	padding-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	z-index: 100;
	position: relative;
	bottom: 5px;
}

#afterNav {
	margin-left: -2px;
}

#mobile {
	display: none;
}

#browser {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.topNav img {
	position: absolute;
	margin-top: -30px;
}

a:active {
	outline:none;
}

body:focus {
	outline: none;
}
nav:focus {
	outline: none;
}


nav ul {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 779px;
	height: auto;
	outline: none;
	position: relative;
	right: 15px;
}

nav li {
	display: inline-block;
	margin-left: 30px;
	outline: none;
	text-align: center;
}
nav a {
	color: white;
	display: inline-block;
	
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	outline: none;
	text-transform: uppercase;
}
#delete {
	font-size: 14px;
	color: black;
	position: relative;
	bottom: 1px;
	cursor: pointer;
	display: inline-block;
}
nav li a {
	outline: none;
  	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	transition:.5s;
	color: white;
}
nav li a:hover { 
	-o-transition:.25s ease-in-out;
	-ms-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-webkit-transition:.25s ease-in-out;
	transition:.25s ease-in-out !important;
	outline: none;
	text-align: center;
	color: #56ced6 !important;
}
a.nav-active {
    color: #56ced6;
}
nav li a {
	outline: none;
}
nav li:last-child a {
	outline: none;
}

nav a#pull {
	display: none;
	outline: none;
}

.center {
	align: center;
	margin-left: auto;
	margin-right: auto;
}
.thisColorhere {
	height: 10px;
    width: 10px;
    border-radius: 1px;
    border: 1px solid #ADADAD;
    display: inline-block;
    position: relative;
    bottom: 1px;
}
.assignmentInner {
	position: relative;
	top: 30px;
}
@media screen and (max-width: 600px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav { 
  		height: auto;
  		outline: none;
		text-transform: uppercase;
  	}

  	nav:focus {
		outline: 0;
	}
  	nav ul {
  		width: 50%;
  		display: block;
  		height: auto;
  		outline: none;
  	}
  	nav li {
  		width: 100%;
  		text-align: center;
  		float: left;
  		position: relative;
  		outline: none;
  		margin: 0;
  	}
  	nav li a {
		outline: none;
		text-align: center;
	  	-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	nav li a:hover {
		outline: none;
		text-align: center;
		color: #e74c3c;
	}

  	nav a {
	  	text-align: left;
	  	width: 50%;
	  	outline: none;
	  	text-indent: 5px;
  	}
  	
}	


	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

@media screen and (max-width: 840px) {
	nav a {
		font-size: 14px;
	}
}
@media screen and (max-width: 750px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}
	
	nav a {
		font-size: 16px;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav { 
  		height: auto;
  		outline: 0;
		text-transform: uppercase;
		border-bottom: 0;
		outline: none;
		text-align: center;
  	}

  	nav:focus {
		outline: none;
	}
  	nav ul {
  		width: 50%;
  		display: block;
  		height: auto;
  		outline: none;
  		right: 0px;
  	}
  	nav li {
  		width: 100%;
  		text-align: center;
  		float: left;
  		position: relative;
  		outline: none;
  		margin: 0;
  	}
  	nav li a {
		outline: none;
		text-align: center;
	  	-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	nav li a:hover {
		outline: none;
		text-align: center;
		color: #e74c3c;
	}

  	nav a {
	  	text-align: left;
	  	width: 50%;
	  	outline: none;
	  	text-indent: 5px;
  	}
  	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}


	nav:focus {
		outline: none;
	}
	nav ul {
		display: none;
		height: auto;
		outline: none;
	}
	nav .pull {
		display: block;
		background-color: #61c0c6;
		width: 100%;
		height: 44px;
		position: relative;
		outline: none;
		z-index: 1;
		cursor: pointer;
	}

	nav a#pull img{
		position: absolute;
		margin-top: 2px;
		margin-left: 20px;
		z-index: 10;
		pointer-events: none;
	}

	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
		outline: none;
		z-index: -1;
		pointer-events: none;
	}
	#toggle {
    	width: 28px;
		height: 30px;
		margin: 7px auto;
		float: right;
		padding-top: 0px;
		padding-right: 15px;
		cursor: pointer;
		opacity: 1;
		position: relative;
		transition: 200ms ease-in-out;
    }

	#toggle:hover {
		opacity: 0.9;
		transition: 200ms ease-in-out;
	}
	#toggle div {
		width: 100%;
		height: 5px;
		background: white;
		margin: 4px auto;
		transition: all  .5s;
		backface-visibility: hidden;
	}

	#toggle.on .one {
		transform: rotate(45deg) translate(5px, 5px);
	}

	#toggle.on .two {
	   
		opacity: 0;
	}

	#toggle.on .three {
		transform: rotate(-45deg) translate(7px, -8px);
	}
	#delete, #edit {
		opacity: 1 !important;
		display: inline-block;
		cursor: pointer;
		position: relative;
	}
	.edit, .delete {
		top: -1px !important;
		position: relative;
	}
	#edit {
		font-size: 14px;
		color: black;
	}
	.refresh {
		padding: 10px !important;
		position: relative;
		margin: 10px;
		display: none !important;
	}
	#logo {
		left: 0 !important;
	}
	#classColor {
		position: relative;
		left: 0px !important;
	}

}
	
@media only screen and (max-width : 425px) {
	.assignment select  {
		width: 90%;
	}
	.assignment input {
		width: 90%;
	}
	.assignment button {
		width: 90%;
	}
}
@media only screen and (max-width : 320px) {
	.innerContentMain {
		max-height: 354px;
		max-width: 100%;
	}

	.container {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: -20px;
		text-align: center;
		background-color: #ecf0f1;
		width: 100%;
		color: #c4413b;
	}

	.area {
		width: 100%;
		margin-left: -15px;
		margin-bottom: 20px;
		padding: 15px;
		position: relative;
	}

	#mobile {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#browser {
		display: none;
	}

	nav:focus {
		outline: none;
	}
	nav li a {
		outline: none;
	  	-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		/* ...and now for the proper property */
		transition:.5s;
	}
	nav li a:hover {
		outline: none;
		text-align: center;
		color: #e74c3c;
	}
}
@media screen and (max-width: 415px) {
	.addClass {
		width: 95%;
	}
	#subject, #password {
		width: 85%;
	}
	#addAssignment .container select {
		position: relative;
		right: 5px;
	}
	#addAssignment .container select, .submit {
		width: 90%;
	}
	#description {
		width: 82%;
	}
	.alignContentParent button {
		width: 90%;
		margin: 5 auto;
		right: 3px;
		position: relative;
	}	
	.alignContentParent input {
		width: 80%;
		margin: 15 auto;
	}
	.bottomInputFields input {
		width: 85%;
	}
	#accountEmail {
		position: relative;
		left: 3px !important;
	}
	.left {
		position: relative;
		right: 50px !important;
	}
	
}
::-webkit-scrollbar-track
{
  background-color: #56ced6;
  width: 4px;
  text-align: center;
  vertical-align: middle;
}

::-webkit-scrollbar
{
  width: 6px;
}
	.itemBig .alertBig {
	position: relative;
	right: 10px;
	}
::-webkit-scrollbar-thumb
{
  background-color: #c34444;
  margin-left: -20px;
  height: 10%;
}
.changeSettings {
	position: relative;
	top: 50px;
}
.changeSettings label {
	font-weight: bold;
	font-size: 22px;
}
.changeSettings input {
	width: 80%;
}


.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.changeSettings select {
	width: 80%;
}
/*  COLUMN SETUP  */
.changeSettings .col {
	display: block;
	float: left;
	left: 0px;
	position: relative;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { 
	margin-left: 0; 
	}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR FOR STUDENT PROFILE  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/* GRID OF 3 FOR PARENT PROFILE  */
.span_3_of_3 { 
	width: 100%; 
	}
.span_2_of_3 { 
	width: 66.13%; 
	}
.span_1_of_3 {
	width: 32.26%; 
	}
	.changeSettings .col  {
		left: 10px;
	}
.choosePerson {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

/* BEGIN MEDIA QUERIES */

@media screen and (max-width: 860px) {
	.col {
		left: 5px;	
	}
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 787px) {
	.col {  
		margin: 1% 0 1% 0%; 
	}
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { 
		width: 100%; 
	}
	.saveChanges {
		width: 70%;
		margin: 0 auto;
		left: 10px;
		position: relative;
	}
	.btn {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.btnStudent {
		position: relative;
		right: 5%;
	}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { 
		width: 100%; 
	}
	.choosePerson {
		text-align: center;
		width: 105%;
		margin: 0 auto;
	}
	.changeSettings .email {
		position: relative;
		left: 2%;
	}	
	#accountEmail {
		position: relative;
		left: 10px;
	}

}
@media only screen and (max-width: 755px) {
.itemDueDate {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 12px;
	margin-top: -33px;
}

.itemDueDateBig {
	/*color: #ecf0f1;*/
	color: black;
	margin-left: 60px;
	font-size: 16px;
	margin-top: -40px;
	position: relative;
	top: 30px;
}

.itemDesc {
	color: #ecf0f1;
	margin-left: 60px;
	font-size: 8px;
	margin-top: -28px;
}

.itemDescBig {
	/*color: #ecf0f1; */
	color: black;
	margin-left: 60px;
	font-size: 12px;
	margin-top: 30px;
	top: 10px;
	position: relative;
	line-height: 15px;
}

.green {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 70vw;
	height: 100%;
	min-height: 50px;
	line-height: 15px;
	margin-bottom: 20px;
	background-color: #2ecc71;
}
.red {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 70vw;
	height: 100%;
	min-height: 50px;
	line-height: 15px;
	margin-bottom: 20px;
	background-color: #E02F2F;
}
.yellow {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding: 20px;
	width: 70vw;
	height: 100%;
	min-height: 50px;
	line-height: 15px;
	margin-bottom: 20px;
	background-color: #f1c40f;
}
.itemHeaderBig {
	font-size: 22px;
	position: relative;
	top: 10px;
	line-height: 20px;
	margin-left: 60px;
}
.alertBig {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #ecf0f1;
	/*background-color: black;*/
	color: rgb(197, 67, 64);
	display: inline-block;
	line-height: 55px;
	font-size: 45px;
	margin-right: 2px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}
.fa {
	top: 5px;
	position: relative;
	left: 15px;
	z-index: 100;
}
.itemBig .itemDueDateBig {
	position: relative;
	top: 35px;
}
.itemBig .alertBig {
	position: relative;
	right: 10px;
}
.itemBig .contentInside {
	position: relative;
	right: 10px;
}

}

.overviewToggle {
	-webkit-animation: fadeIn 3s infinite;
	-moz-animation: fadeIn 3s infinite;
	-o-animation: fadeIn 3s infinite;
	animation: fadeIn 3s infinite;
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0.2; }
	
	100% { opacity: 1; }
	
}
@-moz-keyframes fadeIn {
	0% { opacity: 0.2; }
	
	100% { opacity: 1; }
	
}
@-o-keyframes fadeIn {
	0% { opacity: 0.2; }
	
	100% { opacity: 1; }
	
}
@keyframes fadeIn {
	0% { opacity: 0.2; }
	
	100% { opacity: 1; }
	
}
/* BOOTSTRAP TOOLTIP ATTRIBUTES */ 
.tooltip {
	position:absolute;
	z-index:1070;
	display: block;
	font-family:"Nunito", Helvetica, Arial,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:400;
	line-height:1.42857143;
	text-align:left;
	text-align:start;
	text-decoration:none;
	text-shadow:none;
	text-transform:none;
	letter-spacing:normal;
	word-break:normal;
	word-spacing:normal;
	word-wrap:normal;
	white-space:normal;
	filter:alpha(opacity=0);
	opacity:0;
	line-break:auto;
}

.tooltip.in {
	filter:alpha(opacity=90);
	opacity:.9;
}
.tooltip.top {
	padding:5px 0;
	margin-top:-3px;
}
.tooltip.right {
	padding:0 5px;
	margin-left:3px; 
}
.tooltip.bottom {
	padding:5px 0;
	margin-top:3px;
}
.tooltip.left {
	padding:0 5px;
	margin-left:-3px; 
}
.tooltip-inner {
	max-width:200px;
	padding:3px 8px;
	color:#fff;
	text-align:center;
	background-color:#000;
	border-radius:4px;
}
.tooltip-arrow {
	position:absolute;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid; 
} 
.tooltip.top .tooltip-arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-width:5px 5px 0; 
	border-top-color:#000; 
}
.tooltip.top-left .tooltip-arrow {
	right:5px;
	bottom:0;
	margin-bottom:-5px;
	border-width:5px 5px 0;
	border-top-color:#000;
}
.tooltip.top-right .tooltip-arrow {
	bottom:0;
	left:5px;
	margin-bottom:-5px;
	border-width:5px 5px 0;
	border-top-color:#000;
}
.tooltip.right .tooltip-arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-width:5px 5px 5px 0;
	border-right-color:#000;
}
.tooltip.left .tooltip-arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-width:5px 0 5px 5px;
	border-left-color:#000; 
}
.tooltip.bottom .tooltip-arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-width:0 5px 5px;
	border-bottom-color:#000; 
}
.tooltip.bottom-left .tooltip-arrow {
	top:0;
	right:5px;
	margin-top:-5px;
	border-width:0 5px 5px;
	border-bottom-color:#000;
} 
.tooltip.bottom-right .tooltip-arrow {
	top:0;
	left:5px;
	margin-top:-5px;
	border-width:0 5px 5px;
	border-bottom-color:#000;
}
/* END TOOLTIP */

#delete, #edit {
	opacity: 0;
	cursor: pointer;
	-webkit-transition: 50ms ease-in-out;
	-moz-transition: 50ms ease-in-out;
	-o-transition: 50ms ease-in-out;
	transition: 50ms ease-in-out;
}
#classColor:hover #delete {
	opacity: 1;
	-webkit-transition: 50ms ease-in-out;
	-moz-transition: 50ms ease-in-out;
	-o-transition: 50ms ease-in-out;
	transition: 50ms ease-in-out;
}
#classColor:hover #edit {
	opacity: 1;
	-webkit-transition: 50ms ease-in-out;
	-moz-transition: 50ms ease-in-out;
	-o-transition: 50ms ease-in-out;
	transition: 50ms ease-in-out;
}
#edit {
	font-size: 14px;
	color: black;
}
#classColor {
	position: relative;
	left: 15px;
	top: 25px;
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}
.acctSettings {
	position: relative;
	right: 10px;
}
.acctSettings h2 {
	left: 10px;
	position: relative;
	
}	
.alignContentParent {
	position: relative;
	right: 15px;
}
.alignContentParent h3 {
	max-width: 90%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	right: 0px;
}
#addChild h2 {
	position: relative;
	right: 15px;
}
.teacherName {
	color: white;
}
.saveChanges {
	margin: 0 auto;
	left: 10px;
	position: relative;
	}
img {
	border: 0;	
}
.refresh {
	padding: 0px;
	cursor: pointer;
	display: inline;
	float: right;
	color: white;
	-webkit-transition: 150ms ease-in-out;
	-moz-transition: 150ms ease-in-out;
	-o-transition: 150ms ease-in-out;
	-ms-transition: 150ms ease-in-out;
	transition: 150ms ease-in-out;
}
.refresh:hover {
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(50deg);
	-webkit-transition: 150ms ease-in-out;
	-moz-transition: 150ms ease-in-out;
	-o-transition: 150ms ease-in-out;
	-ms-transition: 150ms ease-in-out;
	transition: 150ms ease-in-out;
}
#logo {
	position: relative;
	left: 13.5px;
}
.studentName {
	position: relative;
	left: 5px;
}
	
	
	