@(students: Integer, loginForm: Form[Application.Login]) 

@import helper._
@import models._
@import views.html.helper.input

@main("Student List") {
	<div id="mainIndex">
		<!-- NAVIGATION -->
		<div class="topNav">
			<div class="topNavInner">
				<div class="topLinks">
					<div class="animated bounceIn">
						<a href="@routes.Signups.accountTypeSelector">Sign Up!</a> | 
						<a href="@routes.Application.login">Sign In!</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END NAVIGATION -->

		<!-- START MAIN TITLE -->
	
		<div class="animated bounceInDown topText">
			<a href="@routes.Application.index"><img src=@routes.Assets.versioned("images/logo.jpg") alt="Orgnizer" style="max-width: 100%; padding: 10px; border: 0;"></a>
			<div class="links">
				<div class="scroll" style="display: inline-block; cursor: pointer; cursor: hand;">About</div> |
				<a href="@routes.Application.faq">FAQ</a>
			</div>
		</div>

		<!-- END MAIN TITLE -->

		<!-- START TOP AREA -->

			<div class="topContent" style="overflow: hidden;">
				<div class="topContentInner">
					<img class="largeImage" src=@routes.Assets.versioned("images/Browser.jpg") alt="Orgnizer">
					<img class="animated bounceInRight habout responsiveImages" style="position: absolute; margin-top: -550px; margin-left: -10px; overflow: hidden;" src=@routes.Assets.versioned("images/BrowserContent.png") alt="Homework Organizer">
					<img class="animated bounceIn responsiveImages" style="position: absolute; margin-top: -550px; margin-left: -10px; overflow: hidden;" src=@routes.Assets.versioned("images/BrowserContent2.png") alt="Homework Organizer">
					<img class="animated bounceInLeft responsiveImages" style="position: absolute; margin-top: -540px; margin-left: -10px; overflow: hidden;" src=@routes.Assets.versioned("images/BrowserContent3.png") alt="Homework Organizer"> 
				</div>
			</div>
	
		<!-- END TOP AREA -->

		<!-- START MIDDLE AREA -->
	
		<div class="Content" id="about">
			<div class="contentInner animated fadeInUp">
				<h1>@students WORLD WIDE USERS SO FAR</h1>
				<br />
				<h1 class="textHeader">What is Orgnizer?</h1>
				<ul class="contentList">
					
					<li>Orgnizer is a web application that helps students achieve more in their studies by providing a unique and innovative homework organizer.</li>
					
				</ul>
				<div class="spacer"></div>
			</div>
		</div>

		<!-- END MIDDLE AREA -->

		<!-- START LAST AREA -->

		<div class="lastContent">
			<div class="contentInner animated fadeInUp">
				<h1 class="textHeader">What are the benefits of using Orgnizer?</h1>
				<ul class="contentList">
					<li>Orgnizer enables students to set dates for assignments. Then, Orgnizer will organize and prioritize your assignments.</li>
					<li>Orgnizer is online and therefore accessible nearly everywhere, which means no more forgetting of paper planners!</li>
					<li>Orgnizer warns students of upcoming and late assignments.</li>
					<li>Orgnizer will also archive finished assignments for reference.</li>
					<li>Orgnizer enables parents to create accounts and monitor their children's assignments and classes.</li>
					<li>Orgnizer furthers the educational benefits by enabling teachers to create accounts and create classes which students can easily join and receive assignments.</li>
				</ul>
				<div class="spacer"></div>
			</div>
		</div>

		<!-- END LAST AREA -->

		<footer class="footer">
			<div class="footerInner">
				<h2><a href="@routes.Application.privacyPolicy">Privacy Policy</a> | <a href="@routes.Application.contactUsPage">Contact Us</a></h2>
			</div>
		</footer>

		<!-- START FOOTER 
		<div class="footer">
			<div class="footerInner">
				<h2>MATTHEW MEACHAM | ROSS MACPHEE &copy; COPYRIGHT SINCE 2014</h2>
			</div>
		</div>
		< END FOOTER -->
	
	</div>
}

