@(students : List[Student], studentForm: Form[Student], schoolClassForm: Form[SchoolClass]) 

@import helper._
@import models._

@main("Student List") {
	
	<h1> Students List - @students.size() students found </h1>
	
	<table style="100% width" border="1" padding="1">
		
		<tr> 
			<th> Name </th>
			<th> Email </th>
			<th> Grade </th>
			<th> Gender </th>
		</tr>
	
		@for(student <- students) {
			<tr>
				 <td> @student.name </td>  <td> @student.email </td> <td> @student.grade </td> 
				 @if(student.male){
					<td> Male </td>  
				} else {
					<td> Female </td>  
				}
			</tr>
		}		
	</table>
	
	@form(routes.Application.newStudent()) {
		@inputText(studentForm("Email"))
		@inputText(studentForm("Username"))
		@inputPassword(studentForm("Password"))
		
		<input type="submit" value="Create new Student">
	}
	
	@form(routes.Application.newSchoolClass()) {
		@inputText(schoolClassForm("Subject"))
		
		<input type="submit" value="Add new class">
	}	
	
}

